{{ define "main" }}
<h1>My Publications</h1>
</br>
<div id="publications">Loading...</div>
<script>
  const orcidId = "0000-0003-3666-6122"
  fetch(`https://pub.orcid.org/v3.0/${orcidId}/works`, {
    headers: { Accept: "application/json" },
  })
    .then((response) => response.json())
    .then((data) => {
      const publications = data.group
        .map((work) => {
          console.log(work)
          const title = work["work-summary"][0].title.title.value
          const journalTitle =
            work["work-summary"][0]["journal-title"]?.value || " "
          const externalUrl = work["work-summary"][0]["url"].value || "#"
          const publicationYear =
            work["work-summary"][0]["publication-date"]["year"]?.value || " "
          return `
          <li>
            <a href="${externalUrl}" target="_blank"><strong>${title}</strong></a><br>
            <i>${publicationYear}${
            journalTitle != " " ? ", " : ""
          }${journalTitle}</i>
          </li>
        `
        })
        .join("")
      document.getElementById(
        "publications"
      ).innerHTML = `<ul>${publications}</ul>`
    })
    .catch((error) => {
      document.getElementById("publications").textContent =
        "Failed to load publications."
    })
</script>
{{ end }}
